.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
.white{}

.dark{

  background-color: black;
  color: white;
}*/

body{

  height:3000px;

}

.body{

  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow-y: hidden;

}

.openpopup:before{

  content: "";
  position: absolute;
  background-color: rgba(0,0,0,.5);
  left:0;
  right:0;
  top:0;
  bottom:0;


}

#pop{

  position:absolute;
  max-width:500px;
  width:33.333vw;
  height:33.333vh;
  background-color: white;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:0 auto;
  display: none;


}

.openpopup #pop{

  display: block;

}

#quick{

  position: fixed;
  right:0;
  top:0;
  bottom:0;
  width:80px;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;


}

#quick ul{

  margin: 0;
  padding: 0;

}

#quick li{
  list-style: none;
  padding: 0;
  margin: 0;
  border-top:1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#quickBox{

  position: absolute;
  background-color: #fff;
  width: 400px;
  height: 400px;
  right:0;
  top:0;
  bottom:0;
  margin: auto;
  transform: translateX(100%);
  transition: 0.5s;

}

#quickBox.show{

  transform: translateX(0);
}